<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852626017007-4g204gd1h1i8htlrrskk2pkgmq5m6usn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852626017007-4g204gd1h1i8htlrrskk2pkgmq5m6usn</string>
	<key>API_KEY</key>
	<string>AIzaSyAC74SbUtGDJNhqcPlyfjhf_wmuvAv2CmU</string>
	<key>GCM_SENDER_ID</key>
	<string>852626017007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.app</string>
	<key>PROJECT_ID</key>
	<string>zenn-b1a89</string>
	<key>STORAGE_BUCKET</key>
	<string>zenn-b1a89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852626017007:ios:c73147dfdbb16ce5dfe91a</string>
</dict>
</plist>